<div class="panel panel-default mt-lg">
	<div class="panel-heading">Fraund company sets</div>
	<div class="panel-body">
		<div class="table-responsive table-bordered">
		   <table class="table table-hover companyTable">
			  <thead>
				 <tr>
					<th width="40"></th>
					<th width="100">No</th>
					<th>Company count</th>
					<th>Last update</th>
					<th>Create Date</th>
					<th width="110"></th>
				 </tr>
			  </thead>
			  <tbody>
				 <tr ng-repeat="list in companyList" ng-click="clickTr(list)" ng-class="{'info':list.setid == checkedId,'success':compareId == list.setid}" ng-mouseover="showCompare(list)" ng-mouseout="hideCompare()">
					<td>
						<em class="fa fa-check-square text-primary" ng-show="list.setid == checkedId"></em>
					</td>
					<td>{{list.setid}}</td>
					<td>{{list.companycount}}</td>
					<td>{{list.updatedAt | date:'dd/MM/yyyy hh:mm'}}</td>
					<td>{{list.createdAt | date:'dd/MM/yyyy hh:mm'}}</td>
					<td><button type="button" class="btn btn-primary btn-xs" ng-show="(checkedId && checkedId != list.setid) && hoverId == list.setid" ng-click="compare(list,$event)">compare</button></td>
				 </tr>
			  </tbody>
		   </table>
		</div>
		
		<div class="text-right mv-lg mr">
			<button type="button" class="btn btn-primary" ng-click="goNext()">next</button>
		</div>
	</div>
	
</div>


<!-- company detail begin -->

<div class="panel panel-default mt-lg" ng-show="companyDetailList.length > 0">
	<div class="panel-heading">{{(checkedId && compareId && 'Differents between sets') || 'Companies in set'}}</div>
	<div class="panel-body">
		<div class="table-responsive table-bordered">
		   <table class="table table-hover">
			  <thead>
				 <tr>
					<th width="40"></th>
					<th width="100">Company ID</th>
					<th>Name</th>
					<th>Ticker</th>
					<th>Market Cap($)</th>
					<th width="110"></th>
				 </tr>
			  </thead>
			  <tbody>
				 <tr ng-repeat="list in companyDetailList" ng-class="{'info':list.flag == '-1','success':list.flag == '1'}">
					<td>{{(list.flag == '-1' && '-') || (list.flag == '1' && '+') || ''}}</td>
					<td>{{list.companyid}}</td>
					<td><a href="#/company/{{list.companyid}}">{{list.name}}</a></td>
					<td>{{list.ticker}}</td>
					<td>{{list.marketcap}}</td>
					<td></td>
				 </tr>
			  </tbody>
		   </table>
		</div>
	</div>
	
</div>
<!-- company detail end -->
